<div class="de-chunk">
    <!-- Database Chunk HERE!-->
    <div class="de-chunk-area">
        <header class="de-chunk-header de-linear-gradient">
            <div>
                <h3>Database</h3>
                <p>Export your entities, artwork, and other data for back-ups and sharing.</p>
            </div>
            <button id="de-foldout-button" class="de-click-button" aria-label="Foldout menu" data-action="Menu.foldout">
                <span class="material-symbols-rounded">side_navigation</span>
            </button>
            <button id="de-exit-button" class="de-click-button" aria-label="Close menu" data-action="Menu.toggleVisibility">
                <span class="material-symbols-rounded">close</span>
            </button>
        </header>

        <!-- Settings Pills HERE! -->
        <div class="de-pills">
            <button class="de-pill selected" data-snippet="database/import">
                <span class="material-symbols-rounded">local_shipping</span>
                Import
            </button>
            <button class="de-pill" data-snippet="database/export">
                <span class="material-symbols-rounded">rocket_launch</span>
                Export
            </button>
            <button class="de-pill de-danger" data-snippet="database/danger">
                <span class="material-symbols-rounded">skull</span>
                Danger Zone
            </button>
        </div>

        <div class="de-chunk-content">
            <div class="de-chunk-selection">
                <!-- Inject Snippets HERE! -->
            </div>
        </div>
    </div>
</div>