<div class="de-chunk selected">
    <!-- Entity Chunk HERE! -->
    <div class="de-chunk-area">
        <header class="de-chunk-header de-linear-gradient">
            <div>
                <h3>Renderer</h3>
                <p>Browse, sort, and refine the characters, places, factions, and custom lore
                    driving your narrative.</p>
            </div>
            <button id="de-exit-button" class="de-exit-button" aria-label="Close menu" data-action="Menu.toggleVisibility">
                <span class="material-symbols-rounded">close</span>
            </button>
        </header>

        <!-- Renderer Pills HERE! -->
        <div class="de-pills">
            <button class="de-pill selected" data-entity-category="all">
                <span class="material-symbols-rounded">view_list</span>
                All
            </button>
            <button class="de-pill" data-entity-category="character">
                <span class="material-symbols-rounded">groups_2</span>
                Characters
            </button>
            <button class="de-pill" data-entity-category="race">
                <span class="material-symbols-rounded">sword_rose</span>
                Races
            </button>
            <button class="de-pill" data-entity-category="location">
                <span class="material-symbols-rounded">explore</span>
                Locations
            </button>
            <button class="de-pill" data-entity-category="faction">
                <span class="material-symbols-rounded">castle</span>
                Factions
            </button>
            <button class="de-pill elusive" data-entity-category="custom">
                <span class="material-symbols-rounded">category</span>
                Custom
            </button>
        </div>

        <div class="de-chunk-content">
            <div class="search-container">
                <div class="search-wrapper">
                    <span class="material-symbols-rounded search-icon">search</span>
                    <input type="text" id="search-input" autocomplete="off" placeholder="Search entities..." />
                    <button id="clear-search-button" class="clear-search-button" style="display: none;">
                        <span class="material-symbols-rounded">close</span>
                    </button>
                </div>
                <p class="search-subtext" id="halloween-egg">Filter your roster or jump into categories to focus on a
                    specific slice of your world.</p>
            </div>

            <div class="de-chunk-selection">
                <!-- Inject Snippets HERE! -->
            </div>
        </div>
    </div>
</div>