<div class="de-chunk">
    <!-- Settings Chunk HERE!-->
    <div class="de-chunk-area">
        <header class="de-chunk-header de-linear-gradient">
            <div>
                <h3>Settings</h3>
                <p>Fine-tune how highlights render, control tooltip pacing, and keep your adventure
                    data neat.</p>
            </div>
            <button id="de-exit-button" class="de-click-button" aria-label="Close menu" data-action="Menu.toggleVisibility">
                <span class="material-symbols-rounded">close</span>
            </button>
        </header>

        <!-- Settings Pills HERE! -->
        <div class="de-pills">
            <button class="de-pill selected" data-snippet="settings/general">
                <span class="material-symbols-rounded">tune</span>
                General
            </button>
            <button class="de-pill" data-snippet="settings/text">
                <span class="material-symbols-rounded">text_fields</span>
                Text
            </button>
            <button class="de-pill" data-snippet="settings/tooltip">
                <span class="material-symbols-rounded">tooltip</span>
                Tooltip
            </button>
            <button class="de-pill" data-snippet="settings/experimental">
                <span class="material-symbols-rounded">experiment</span>
                Experiments
            </button>
        </div>

        <div class="de-chunk-content">
            <div class="de-chunk-selection">
                <!-- Inject Snippets HERE! -->
            </div>
        </div>
    </div>
</div>