<div id="importer-settings-snippet" class="de-snippet">
    <div class="de-snippet-card stack">

        <!-- Toggles HERE! -->
        <div class="de-section">
            <div class="de-row">
                <label for="performance-mode">Performance Mode</label>
                <div class="de-switch">
                    <input type="checkbox" id="performance-mode" data-variable="experimentalPerformanceMode">
                    <label for="performance-mode"></label>
                </div>
            </div>
        </div>
    </div>
</div>