<div id="importer-settings-snippet" class="de-snippet">
    <div class="de-snippet-card stack">

        <!-- Toggles HERE! -->
        <div class="de-section">
            <div class="de-row">
                <label for="performance-mode"><strong>General:</strong> Performance Mode</label>
                <div class="de-switch">
                    <input type="checkbox" id="performance-mode" data-variable="experimentalPerformanceMode">
                    <label for="performance-mode"></label>
                </div>
            </div>

            <div class="de-row">
                <label for="colored-settings"><strong>General:</strong> Colored Settings</label>
                <div class="de-switch">
                    <input type="checkbox" id="colored-settings" data-variable="experimentalColoredSettings">
                    <label for="colored-settings"></label>
                </div>
            </div>
        </div>

        <div class="de-section">
           <div class="de-row">
                <label for="decreased-storage-mutation"><strong>Storage:</strong> Call Optimization</label>
                <div class="de-switch">
                    <input type="checkbox" id="decreased-storage-mutation" data-variable="experimentalStoragePerformanceMode">
                    <label for="decreased-storage-mutation"></label>
                </div>
            </div>
        </div>

        <div class="de-section">
            <div class="de-row">
                <label for="markdown-formatting"><strong>Text:</strong> Markdown Formatting</label>
                <div class="de-switch">
                    <input type="checkbox" id="markdown-formatting" data-variable="experimentalMarkdownFormatting" data-action="Page.reload">
                    <label for="markdown-formatting"></label>
                </div>
            </div>
        </div>

        <div class="de-section">
            <div class="de-row">
                <label for="automatic-icon-resize"><strong>Import:</strong> Automatic Icon Resize</label>
                <div class="de-switch">
                    <input type="checkbox" id="automatic-icon-resize" data-variable="experimentalAutomaticIconResize">
                    <label for="automatic-icon-resize"></label>
                </div>
            </div>

            <div class="de-row">
                <label for="automatic-graphic-resize"><strong>Import:</strong> Automatic Graphic Resize</label>
                <div class="de-switch">
                    <input type="checkbox" id="automatic-graphic-resize" data-variable="experimentalAutomaticGraphicResize">
                    <label for="automatic-graphic-resize"></label>
                </div>
            </div>
        </div>

        <div class="de-section">
            <div class="de-row">
                <label for="import-characters-only"><strong>Story Cards:</strong> Import Characters Only</label>
                <div class="de-switch">
                    <input type="checkbox" id="import-characters-only" data-variable="experimentalImportCharactersOnly">
                    <label for="import-characters-only"></label>
                </div>
            </div>
        </div>
    </div>
</div>