<div id="general-settings-snippet" class="de-snippet selected">
    <div class="de-action-grid">
        <div class="de-action-card">
            <div class="de-action-header">
                <span class="material-symbols-rounded de-action-icon">celebration</span>
                <div class="de-action-text">
                    <h3 class="de-action-title">Thanks for installing Dungeon Extension!</h3>
                    <p class="de-action-description">Hey, hey! I hope you enjoy using this extension. <3 Clauds</p>
                </div>
            </div>
            <div class="de-action-note">
                <span class="material-symbols-rounded">info</span>
                <span>If anything is wrong then feel free to reach out on Discord! I'd be glad to help.</span>
            </div>
            <div class="de-action-buttons">
                <button type="button" id="delete-database-button" class="de-action-button safe">
                    <span class="material-symbols-rounded">bug_report</span>
                    Report Bug
                </button>
            </div>
        </div>
    </div>
    <!--
    <div class="de-snippet-card stack">
    </div> -->
</div>