<div id="general-settings-snippet" class="de-snippet selected">
    <div class="de-action-grid">
        <div class="de-action-card de-linear-gradient">
            <div class="de-action-header">
                <span class="material-symbols-rounded de-action-icon">celebration</span>
                <div class="de-action-text">
                    <h3 class="de-action-title">Thanks for installing Dungeon Extension!</h3>
                    <p class="de-action-description">Hey, hey! I hope you enjoy using my extension.</p>
                </div>
            </div>
            <div class="de-action-note">
                <span class="material-symbols-rounded">info</span>
                <span>If anything is wrong then feel free to reach out on Discord! I'd be glad to help - <strong
                        class="safe">@Claudia!</strong></span>
            </div>
            <div class="de-action-buttons">
                <button type="button" id="report-bug-button" class="de-action-button safe" data-action="Menu.reportBug">
                    <span class="material-symbols-rounded">bug_report</span>
                    Report Bug
                </button>
            </div>
        </div>
    </div>

    <div class="de-snippet-card stack">

        <!-- Toggles HERE! -->
        <div class="de-section">
            <div class="de-row">
                <label for="text-effects-icons"><strong>Text Effects:</strong> Enabled</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-icons" data-variable="textEffectsIcons">
                    <label for="text-effects-icons"></label>
                </div>
            </div>
            <div class="de-row">
                <label for="tooltip-graphics"><strong>Tooltip:</strong> Enabled</label>
                <div class="de-switch">
                    <input type="checkbox" id="tooltip-graphics" data-variable="tooltipGraphics">
                    <label for="tooltip-graphics"></label>
                </div>
            </div>
        </div>

        <div class="de-section">
            <div class="de-row">
                <label for="debug-verbose"><strong>Debugger:</strong> Verbose</label>
                <div class="de-switch">
                    <input type="checkbox" id="debug-verbose" data-variable="debugVerbose">
                    <label for="debug-verbose"></label>
                </div>
            </div>
        </div>

        <!-- Color Picker HERE! -->
        <div class="de-section">
            <div class="de-row">
                <label for="theme-color" class="grey"><strong>Color:</strong> Theme</label>
                <input type="color" id="theme-color" class="de-color-picker editable" value="#f8ad2a"
                    data-variable="themeColor">
            </div>
            <div class="de-row">
                <label for="theme-color-danger" class="grey"><strong>Color:</strong> Danger</label>
                <input type="color" id="theme-color-danger" class="de-color-picker editable" value="#dd3647"
                    data-variable="themeColorDanger">
            </div>
        </div>

    </div>
</div>