<div id="importer-settings-snippet" class="de-snippet">
    <div class="de-snippet-card stack">

        <!-- Toggles HERE! -->
        <div class="de-section">
            <div class="de-row">
                <label for="importer-story-cards">Import Story Cards</label>
                <div class="de-switch">
                    <input type="checkbox" id="importer-story-cards" data-variable="importStoryCards">
                    <label for="importer-story-cards"></label>
                </div>
            </div>
        </div>

        <div class="de-section">
            <div class="de-row">
                <label for="importer-characters">Import Characters</label>
                <div class="de-switch">
                    <input type="checkbox" id="importer-characters" data-variable="importCharacters">
                    <label for="importer-characters"></label>
                </div>
            </div>

            <div class="de-row">
                <label for="importer-races">Import Races</label>
                <div class="de-switch">
                    <input type="checkbox" id="importer-races" data-variable="importRaces">
                    <label for="importer-races"></label>
                </div>
            </div>

            <div class="de-row">
                <label for="importer-locations">Import Locations</label>
                <div class="de-switch">
                    <input type="checkbox" id="importer-locations" data-variable="importLocations">
                    <label for="importer-locations"></label>
                </div>
            </div>

            <div class="de-row">
                <label for="importer-factions">Import Factions</label>
                <div class="de-switch">
                    <input type="checkbox" id="importer-factions" data-variable="importFactions">
                    <label for="importer-factions"></label>
                </div>
            </div>

            <div class="de-row">
                <label for="importer-custom">Import Custom</label>
                <div class="de-switch">
                    <input type="checkbox" id="importer-custom" data-variable="importCustom">
                    <label for="importer-custom"></label>
                </div>
            </div>
        </div>
    </div>
</div>