<div id="reg-exp-settings-snippet" class="de-snippet">
    <div class="de-snippet-card stack">

        <!-- Toggles HERE! -->
        <div class="de-section">
            <div class="de-row">
                <label for="text-effects-colon">Include Colon</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-colon" data-variable="textEffectsColon">
                    <label for="text-effects-colon"></label>
                </div>
            </div>
        </div>

    </div>
</div>