<div id="text-settings-snippet" class="de-snippet">
    <div class="de-snippet-card stack">
        <!-- Icon Toggles HERE! -->
        <div class="de-section">
            <div class="de-info-row">
                <label for="text-effects-icons">Show Icons</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-icons" data-variable="textEffectsIcons">
                    <label for="text-effects-icons"></label>
                </div>
            </div>
        </div>
        <!-- Text Toggles HERE! -->
        <div class="de-section">
            <div class="de-info-row">
                <label for="text-effects-color">Use Colored Text</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-color" data-variable="textEffectsColor">
                    <label for="text-effects-color"></label>
                </div>
            </div>
            <div class="de-info-row">
                <label for="text-effects-bold">Use Bold Text</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-bold" data-variable="textEffectsBold">
                    <label for="text-effects-bold"></label>
                </div>
            </div>
        </div>
        <!-- Trigger Toggles HERE! -->
        <div class="de-section">
            <div class="de-info-row">
                <label for="text-effects-story">Apply to Story Text</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-story" data-variable="textEffectsStory">
                    <label for="text-effects-story"></label>
                </div>
            </div>
            <div class="de-info-row">
                <label for="text-effects-dialogue">Apply to Dialogue Text</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-dialogue" data-variable="textEffectsDialogue">
                    <label for="text-effects-dialogue"></label>
                </div>
            </div>
        </div>
        <!-- Color Options HERE! -->
        <div class="de-section">
            <div class="de-info-row">
                <label for="entity-highlight-color" class="grey">Highlight Color</label>
                <input type="color" id="entity-highlight-color" class="de-color-picker editable" value="#f8ae2c">
            </div>
        </div>
    </div>
</div>