<div id="text-settings-snippet" class="de-snippet">
    <div class="de-snippet-card stack">
        <!-- Icon Toggles HERE! -->
        <div class="de-section">
            <div class="de-row">
                <label for="text-effects-icons">Show Icons</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-icons" data-variable="textEffectsIcons">
                    <label for="text-effects-icons"></label>
                </div>
            </div>
        </div>
        <!-- Text Toggles HERE! -->
        <div class="de-section">
            <div class="de-row">
                <label for="text-effects-color">Use Colored Text</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-color" data-variable="textEffectsColor">
                    <label for="text-effects-color"></label>
                </div>
            </div>
            <div class="de-row">
                <label for="text-effects-bold">Use Bold Text</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-bold" data-variable="textEffectsBold">
                    <label for="text-effects-bold"></label>
                </div>
            </div>
        </div>
        <!-- Trigger Toggles HERE! -->
        <div class="de-section">
            <div class="de-row">
                <label for="text-effects-story">Apply to Story Text</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-story" data-variable="textEffectsStory">
                    <label for="text-effects-story"></label>
                </div>
            </div>
            <div class="de-row">
                <label for="text-effects-dialogue">Apply to Dialogue Text</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-dialogue" data-variable="textEffectsDialogue">
                    <label for="text-effects-dialogue"></label>
                </div>
            </div>
        </div>
        <!-- Sliders HERE! -->
        <div class="de-section">
            <div class="de-slider-group">
                <div class="de-slider-label">
                    <label for="text-effects-icon-size" class="grey">Icon Size</label>
                </div>
                <div class="de-slider-input">
                    <input type="number" id="text-effects-icon-size" min="8" max="40" value="28" data-variable="textEffectsIconSize">
                    <input type="range" id="text-effects-icon-size-slider" min="8" max="40" value="28" data-variable="textEffectsIconSize">
                </div>
            </div>

            <div class="de-slider-group">
                <div class="de-slider-label">
                    <label for="text-effects-border-width" class="grey">Icon Border Width</label>
                </div>
                <div class="de-slider-input">
                    <input type="number" id="text-effects-icon-border-width" min="0" max="16" value="1" data-variable="textEffectsIconBorderWidth">
                    <input type="range" id="text-effects-icon-border-width-slider" min="0" max="16" value="1" data-variable="textEffectsIconBorderWidth">
                </div>
            </div>

            <div class="de-slider-group">
                <div class="de-slider-label">
                    <label for="text-effects-border-radius" class="grey">Icon Border Radius</label>
                </div>
                <div class="de-slider-input">
                    <input type="number" id="text-effects-icon-border-radius" min="0" max="50" value="0" data-variable="textEffectsIconBorderRadius">
                    <input type="range" id="text-effects-icon-border-radius-slider" min="0" max="50" value="0" data-variable="textEffectsIconBorderRadius">
                </div>
            </div>
        </div>
        <!-- Color Options HERE! -->
        <div class="de-section">
            <div class="de-row">
                <label for="text-effects-global-color" class="grey">Global Color</label>
                <input type="color" id="text-effects-global-color" class="de-color-picker editable" value="#f8ae2c" data-variable="textEffectsGlobalColor">
            </div>
        </div>
    </div>
</div>