<div id="text-settings-snippet" class="de-snippet">
    <div class="de-snippet-card stack">
        <div class="de-section">
            <div class="de-info-row">
                <label for="text-effects-color">Show Color Text</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-color" data-variable="textEffectsColor">
                    <label for="text-effects-color"></label>
                </div>
            </div>
            <div class="de-info-row">
                <label for="text-effects-bold">Show Bold Text</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-bold" data-variable="textEffectsBold">
                    <label for="text-effects-bold"></label>
                </div>
            </div>
        </div>
        <div class="de-section">
            <div class="de-info-row">
                <label for="text-effects-story">Show in Story Text</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-story" data-variable="textEffectsStory">
                    <label for="text-effects-story"></label>
                </div>
            </div>
            <div class="de-info-row">
                <label for="text-effects-dialogue">Show in Dialogue Text</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-dialogue" data-variable="textEffectsDialogue">
                    <label for="text-effects-dialogue"></label>
                </div>
            </div>
        </div>
        <div class="de-section">
            <div class="de-info-row">
                <label for="text-effects-icons">Show Icons</label>
                <div class="de-switch">
                    <input type="checkbox" id="text-effects-icons" data-variable="textEffectsIcons">
                    <label for="text-effects-icons"></label>
                </div>
            </div>
        </div>
    </div>
</div>