<div id="tooltip-settings-snippet" class="de-snippet">
    <div class="de-snippet-card stack">
        <div class="de-section">
            <div class="de-slider-group">
                <div class="de-slider-label">
                    <label for="tooltip-graphic-size" class="grey">Tooltip Size (%)</label>
                </div>
                <div class="de-slider-input">
                    <input type="number" id="tooltip-graphic-size" min="5" max="200" value="20"
                        data-variable="tooltipGraphicSize">
                    <input type="range" id="tooltip-graphic-size-slider" min="5" max="200" value="20"
                        data-variable="tooltipGraphicSize">
                </div>
            </div>
        
            <div class="de-slider-group">
                <div class="de-slider-label">
                    <label for="tooltip-hide-delay" class="grey">Tooltip Hide Delay (ms)</label>
                </div>
                <div class="de-slider-input">
                    <input type="number" id="tooltip-hide-delay" min="0" value="200" data-variable="tooltipHideDelay">
                    <input type="range" id="tooltip-hide-delay-slider" min="0" max="1000" value="200"
                        data-variable="tooltipHideDelay">
                </div>
            </div>
        </div>
    </div>
</div>