<div id="export-database-snippet" class="de-snippet">
    <div class="de-action-grid">
        <div class="de-action-card de-linear-gradient">
            <div class="de-action-header">
                <span class="material-symbols-rounded de-action-icon">data_object</span>
                <div class="de-action-text">
                    <h3 class="de-action-title">Export to JSON</h3>
                    <p class="de-action-description">Exports all saved entities to a JSON file.</p>
                </div>
            </div>
            <div class="de-action-note">
                <span class="material-symbols-rounded">info</span>
                <span>This will download a JSON file containing all saved entities.</span>
            </div>
            <div class="de-action-buttons">
                <button type="button" id="delete-database-button" class="de-action-button safe" data-action="PersistentStorage.exportToJSON">
                    <span class="material-symbols-rounded">arrow_outward</span>
                    Export to File
                </button>
            </div>
        </div>
    </div>
</div>