<div id="import-database-snippet" class="de-snippet selected">
    <div class="de-action-grid">
        <div class="de-action-card de-linear-gradient">
            <div class="de-action-header">
                <span class="material-symbols-rounded de-action-icon">arrow_and_edge</span>
                <div class="de-action-text">
                    <h3 class="de-action-title">Import & Merge</h3>
                    <p class="de-action-description">Imports and merges data from a JSON file.</p>
                </div>
            </div>
            <div class="de-action-note">
                <span class="material-symbols-rounded">info</span>
                <span>This also works with <strong>story card files!</strong></span>
            </div>
            <div class="de-action-buttons">
                <button type="button" id="delete-database-button" class="de-action-button safe" data-action="PersistentStorage.importMergeJSON">
                    <span class="material-symbols-rounded">arrow_cool_down</span>
                    Import
                </button>
            </div>
        </div>
    </div>

    <div class="de-action-grid">
        <div class="de-action-card de-linear-gradient de-danger">
            <div class="de-action-header">
                <span class="material-symbols-rounded de-action-icon">arrow_or_edge</span>
                <div class="de-action-text">
                    <h3 class="de-action-title">Import & Replace</h3>
                    <p class="de-action-description">Imports and replaces existing data from a JSON file.</p>
                </div>
            </div>
            <div class="de-action-note">
                <span class="material-symbols-rounded">info</span>
                <span>This also works with <strong>story card files!!!</strong></span>
            </div>
            <div class="de-action-buttons">
                <button type="button" id="delete-database-button" class="de-action-button de-danger" data-action="PersistentStorage.importReplaceJSON">
                    <span class="material-symbols-rounded">arrow_cool_down</span>
                    Import
                </button>
            </div>
        </div>
    </div>
</div>