<div id="de-menu" class="de-menu">
    <div class="de-menu-outer">
        <aside class="de-sidebar">
            <div class="de-sidebar-top">
                <nav class="de-sidebar-stack de-sidebar-tabs">
                    <!-- Sidebar Buttons HERE! -->
                    <!-- TODO: HIDE THIS WHEN MOBILE DEVICES USE IT!-->
                    <button id="de-sidebar-button" class="de-sidebar-button selected" data-chunk="renderer">
                        <span class="material-symbols-rounded">api</span>
                        <span>Renderer</span>
                    </button>
                    <button id="de-sidebar-button" class="de-sidebar-button" data-chunk="editor">
                        <span class="material-symbols-rounded">handyman</span>
                        <span>Editor</span>
                    </button>
                    <button id="de-sidebar-button" class="de-sidebar-button" data-chunk="settings">
                        <span class="material-symbols-rounded">settings_heart</span>
                        <span>Settings</span>
                    </button>
                    <button id="de-sidebar-button" class="de-sidebar-button" data-chunk="database">
                        <span class="material-symbols-rounded">folder_data</span>
                        <span>Database</span>
                    </button>
                </nav>
            </div>

            <div class="de-sidebar-bottom">
                <!-- Sidebar Chips HERE!-->
                <!-- TODO: ADD DYNAMIC VALUE ASSIGNMENT! -->
                <div class="de-sidebar-chip">
                    <span class="de-sidebar-chip-label" >Adventure</span>
                    <span class="de-sidebar-chip-value" id="adventure-id">ERROR: Invalid Adventure ID</span>
                </div>
                <div class="de-sidebar-chip">
                    <span class="de-sidebar-chip-label">Version</span>
                    <span class="de-sidebar-chip-value">Beta 3.2.1</span>
                </div>
            </div>
        </aside>

        <section class="de-content-area">
            <div class="de-content-root">
                <div class="de-selection" id="de-selection">
                    <!-- Inject Chunks HERE! -->
                </div>
            </div>
        </section>
    </div>
</div>