<div class="de-entity-nugget" data-entity-id="" data-category="">
    <div class="de-entity-nugget-icon">
        <!-- Icon will be injected here -->
    </div>
    <div class="de-entity-nugget-info">
        <span class="de-entity-nugget-name"></span>
        <div class="de-entity-nugget-meta">
            <span class="material-symbols-rounded de-entity-nugget-category-icon"></span>
            <span class="de-entity-nugget-category-name"></span>
        </div>
    </div>
    <div class="de-entity-nugget-actions">
        <button class="de-entity-nugget-action" data-action="Editor.edit">
            <span class="material-symbols-rounded">edit</span>
        </button>
        <button class="de-entity-nugget-action" data-action="Editor.delete">
            <span class="material-symbols-rounded">delete</span>
        </button>
    </div>
</div>