<div id="de-tooltip" class="de-tooltip-area">
    <div class="de-tooltip-content">
        <img id="de-tooltip-image" src="" alt="Entity Graphic">
        <div class="de-tooltip-controls">
            <button id="de-tooltip-previous-button" class="de-tooltip-navigation-button" data-action="Tooltip.cycleBack">
                <span class="material-symbols-rounded">arrow_back_ios</span>
            </button>
            <span id="de-tooltip-counter"></span>
            <button id="de-tooltip-next-button" class="de-tooltip-navigation-button" data-action="Tooltip.cycleForward">
                <span class="material-symbols-rounded">arrow_forward_ios</span>
            </button>
        </div>
    </div>
</div>