<div id="de-tooltip" class="de-tooltip-area">
    <div class="de-tooltip-content">
        <img id="de-tooltip-image" src="" alt="Entity Graphic">
        <div id="de-tooltip-graphics-controls" class="de-tooltip-controls">
            <button class="de-tooltip-navigation-button" data-action="Tooltip.cycleGraphicBack">
                <span class="material-symbols-rounded">arrow_back_ios</span>
            </button>
            <span id="de-tooltip-graphics-counter"></span>
            <button class="de-tooltip-navigation-button" data-action="Tooltip.cycleGraphicForward">
                <span class="material-symbols-rounded">arrow_forward_ios</span>
            </button>
        </div>
        <div id="de-tooltip-icons-controls" class="de-tooltip-controls">
            <button class="de-tooltip-navigation-button" data-action="Tooltip.cycleIconBack">
                <span class="material-symbols-rounded">arrow_back_ios</span>
            </button>
            <span id="de-tooltip-icons-counter"></span>
            <button class="de-tooltip-navigation-button" data-action="Tooltip.cycleIconForward">
                <span class="material-symbols-rounded">arrow_forward_ios</span>
            </button>
        </div>
    </div>
</div>