<div id="raven-secret-snippet" class="de-snippet">
    <div class="de-action-grid">
        <div class="de-action-card danger">
            <div class="de-action-header">
                <span class="material-symbols-rounded de-action-icon">wand_shine</span>
                <div class="de-action-text">
                    <h3 class="de-action-title">Do you believe in magic?</h3>
                    <p class="de-action-description">This is a placeholder for now.</p>
                </div>
            </div>
            <div class="de-action-note">
                <span class="material-symbols-rounded">star_shine</span>
                <span></span>
            </div>
        </div>
    </div>
</div>