<div class="de-tab-panel">
    <!-- Editor Panel HERE! -->
    <div class="de-panel-surface">
        <header class="de-panel-header">
            <div>
                <h3>Editor</h3>
                <p>Swap into authoring mode to sculpt detailed profiles, upload artwork, and tune
                    highlight behaviour.</p>
            </div>
            <button id="de-close-menu-button" class="de-close-menu-button" aria-label="Close menu">
                <span class="material-symbols-rounded">close</span>
            </button>
        </header>

        <!-- Settings Pills HERE! -->
        <div class="de-pill-tabs">
            <button class="de-pill-tab selected" data-snippet="editor/entity">
                <span class="material-symbols-rounded">api</span>
                Entity
            </button>
            <button class="de-pill-tab" data-snippet="editor/image">
                <span class="material-symbols-rounded">image</span>
                Image
            </button>
            <button class="de-pill-tab" data-snippet="editor/notes">
                <span class="material-symbols-rounded">edit_document</span>
                Notes
            </button>
        </div>

        <div class="de-panel-content">
            <div class="de-snippet-area">
                <!-- Inject Snippets HERE! -->
            </div>
        </div>
    </div>
</div>