<!-- Secret Panel HERE!-->
<div class="de-tab-panel">
    <div class="de-panel-surface">
        <header class="de-panel-header secret">
            <div>
                <h3>Secret</h3>
                <p>What lies beneath the surface? What hidden dangers await?</p>
            </div>
            <button id="de-close-menu-button" class="de-close-menu-button" aria-label="Close menu">
                <span class="material-symbols-rounded">close</span>
            </button>
        </header>

        <!-- Secret Pills HERE! -->
        <div class="de-pill-tabs">
            <button class="de-pill-tab">
                <span class="material-symbols-rounded">skull</span>
                Here??!
            </button>
            <button class="de-pill-tab">
                <span class="material-symbols-rounded">skeleton</span>
                Here!?1!
            </button>
            <button class="de-pill-tab elusive">
                <span class="material-symbols-rounded">raven</span>
                Here!?
            </button>
            <button class="de-pill-tab">
                <span class="material-symbols-rounded">owl</span>
                Here!2
            </button>
            <button class="de-pill-tab">
                <span class="material-symbols-rounded">pet_supplies</span>
                Here!??!
            </button>
        </div>

        <div class="panel-content">
            <div class="de-tab-content-area">
                <div id="all-subtab" class="de-subtab-panel selected">

                </div>
            </div>
        </div>
    </div>
</div>