<div class="de-tab-panel">
    <!-- Settings Panel HERE!-->
    <div class="de-panel-surface">
        <header class="de-panel-header">
            <div>
                <h3>Settings</h3>
                <p>Fine-tune how highlights render, control tooltip pacing, and keep your session
                    data tidy.</p>
            </div>
            <button id="de-close-menu-button" class="de-close-menu-button" aria-label="Close menu">
                <span class="material-symbols-rounded">close</span>
            </button>
        </header>

        <!-- Settings Pills HERE! -->
        <div class="de-pill-tabs">
            <button class="de-pill-tab selected" data-snippet="settings/general">
                <span class="material-symbols-rounded" >tune</span>
                General
            </button>
            <button class="de-pill-tab"  data-snippet="settings/text">
                <span class="material-symbols-rounded">text_fields</span>
                Text Effects
            </button>
            <button class="de-pill-tab" data-snippet="settings/tooltip">
                <span class="material-symbols-rounded" >tooltip</span>
                Tooltip
            </button>
            <button class="de-pill-tab" data-snippet="settings/storage">
                <span class="material-symbols-rounded" >folder_data</span>
                Storage
            </button>
            <button class="de-pill-tab danger" data-snippet="settings/danger">
                <span class="material-symbols-rounded" >skull</span>
                Danger Zone
            </button>
        </div>

        <div class="panel-content">
            <div class="de-snippet-area">
                <!-- Inject Snippets HERE! -->
            </div>
        </div>
    </div>
</div>